@model IEnumerable<InformationViewModel>

 @{
    ViewData["Title"] = "Информация за изпити";
}


<div class="row">

    @if (Model.Any())
    {
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Предмет</th>
                    <th scope="col">Зала</th>
                    <th scope="col">Дата на провеждане</th>
                    <th scope="col">Час</th>
                    <th scope="col">Статус</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exam in Model)
                {
                    <tr>
                        <td>@exam.SubjectName</td>
                        <td>@exam.Hall</td>
                        <td>@exam.Date.ToString("MMMM dd")</td>
                        <td>@exam.Time.ToString("HH:mm")</td>
                        <td>@exam.Status</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <h1>Няма въведени дати за изпити в момента!</h1>
    }

</div>